@page
@model WebApp.Pages.Thanhvien.ChangePasswordModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-vn">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CKB Kỹ Năng Sống - Quên Mật Khẩu</title>

    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-2">Bạn muốn đổi mật khẩu</h1>
                                        <p class="mb-4">Bạn cần nhập lại mật khẩu hiện tại và mật khẩu mới mà bạn muốn thay đổi!!</p>
                                    </div>
                                    <form class="needs-validation user" asp-action="" method="POST" novalidate>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user" name="txt_matkhau_cu" placeholder="Nhập mật khẩu hiện tại" required="">
                                            <div class="valid-feedback">Xác nhận.</div>
                                            <div class="invalid-feedback">Vui lòng điền vào trường này.</div>
                                        </div>
                                        <div class="form-group">
                                            <input id="first_input" type="password" class="form-control form-control-user" name="txt_matkhau_moi1" placeholder="Nhập mật khẩu mới" required="">
                                            <div class="valid-feedback">Xác nhận.</div>
                                            <div class="invalid-feedback">Vui lòng điền vào trường này.</div>
                                        </div>
                                        <div class="form-group">
                                            <input id="second_input" type="password" class="form-control form-control-user" name="txt_matkhau_moi2" placeholder="Nhập lại mật khẩu mới" required="" onkeyup="return compare_input();">
                                            <div class="valid-feedback">Xác nhận.</div>
                                            <div class="invalid-feedback">Vui lòng điền vào trường này.</div>
                                        </div>
                                        <button type="submit" class="btn btn-success btn-user btn-block" style="font-size: 15px" name="sbdoimk">Đổi mật khẩu</button>
                                    </form>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--so sanh chuoi mk -->
    <script>
        // Compare two input fields in js
        function compare_input() {
            var f_input = document.getElementById('first_input').value;
            var s_input = document.getElementById('second_input').value;
            if (f_input === s_input) {
                document.getElementById('second_input').style.backgroundColor = 'lightgreen';
            }
            else {
                document.getElementById('second_input').style.backgroundColor = 'red';
            }
        }
    </script>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>
    <script>
        // Disable form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Get the forms we want to add validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
</body>
</html>