
@model MVCWebsite.Models.IndexModel
@{ 
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
 <meta name="viewport" content="width-device-width"/>
    <meta charset="utf-8" />
    <title>Learn MVC Asp.net core</title>
</head>
<body>
    <p>@Model.Message</p>
    <p>Hello world</p>

</body>
</html>