body {
  text-align: center;
  background-color: #1d1d22;
}
.text {
  font-size: 6em;
  font-weight: bold;
  line-height: 1;
  position: relative;
  display: inline-block;
  margin: .25em;
  padding: .5em .75em;
  text-align: center;
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url(https://png.pngtree.com/thumb_back/fw800/back_pic/04/52/05/84585f8530e8274.jpg);
}
.clip-text:before {
  content: "";
  z-index: -2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: inherit;
  position: absolute;
}
.clip-text:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: .125em;
  right: .125em;
  bottom: .125em;
  left: .125em;
  background-color: #fff;
 }
.clip-textGif {
  background-image:   url( https://media.giphy.com/media/JzqRWjBTKZXSE/giphy.gif);
  text-transform: uppercase;
  font-style: italic
}
