@page
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-vi">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CLB Kỹ năng sống TVU - 404 ERROR</title>

    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
    <style type="text/css">
        .txtdeepshadow {
            text-align: center;
            font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
            font-size: 50px;
            height: 120px;
            padding-top: 30px;
            color: #e0dfdc;
            background-color: #4C58A1;
            letter-spacing: .1em;
            text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
        }
    </style>
</head>

<body id="page-top">

    <!-- Begin Page Content -->
    <div class="container-fluid" style="margin-top: 10%;">
        <!-- 404 Error Text -->
        <div class="text-center">
            <h1 class='txtdeepshadow'>Chức Năng Đang Phát Triển</h1>
            <p class="lead text-gray-800 mb-7">Vui lòng liên hệ ban quản trị qua <a href="https://www.facebook.com/clbkynangsongtvu.official" target="_blank" rel="noopener noreferrer">Facebook</a> hoặc <a href="https://zalo.me/2283847298144478280" target="_blank" rel="noopener noreferrer">Zalo</a> </p>
            <a asp-page="/index">&larr; Trở lại trang chủ</a>
        </div>
    </div>
    <!-- /.container-fluid -->
    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>
</body>
</html>