@page
@{
    ViewData["Title"] = "Gioithieu";
    Layout = "_Layout";
}

<div class="col-sm-10" style="background-color: lavender;">
    <div class="row-sm" style="background-color: #4D636F; text-align: center; color: white;">
        <h3><strong><p>Giới thiệu về CLB Kỹ Năng Sống TVU</p></strong></h3>
    </div>
    <div class="container-fluid row-sm">
        <p><strong>Slogan: “</strong>Hòa nhập cuộc sống, nâng bước thành công”<strong>&nbsp;</strong></p>
        <p><strong style="line-height: 1.5;">1. QUÁ TRÌNH HÌNH THÀNH:</strong></p>
        <p>Nhóm Kỹ năng mềm là tổ chức tiền thân của Câu lạc bộ Kỹ năng sống, được Đoàn Trường Đại học Trà Vinh ra Quyết định số 16 QĐ/ĐTN ngày 15/01/2013 của BCH Đoàn trường Đại học Trà Vinh về việc thành lập Nhóm kỹ năng mềm gồm 05 thành viên, phân công Đ/c Phạm Quốc Khánh – Phó Bí thư Đoàn trường Đại học Trà Vinh phụ trách Nhóm trưởng trong giai đoạn đầu. Đến ngày 20/10/2014 Nhóm Kỹ năng mềm được nâng cấp vào đổi tên thành Câu lạc bộ Kỹ năng sống thuộc Hội Sinh viên Trường Đại học Trà Vinh. Sau gần 02 năm hoạt động (từ ngày 15/01/2013 đến tháng 10/2015) có hơn 8160 lượt sinh viên tham gia, trung bình 80 – 100 thành viên/ buổi sinh hoạt. Cho đến nay, lực lượng Câu lạc bộ không ngừng lớn mạnh và mở rộng về số lượng. Tổng số Thành viên là 310 (nam: 110, nữ: 200; trong đó có 75 anh(chị) là dân tộc Khmer). Đội ngũ Thành viên CLB là bộ phận sinh viên ưu tú, có lòng yêu nước nồng nàn, ham học hỏi, có năng lực hoạt động tích cực, có nhận thức tốt, được đào tạo cơ bản, thực hành kỹ năng mềm, là lực lượng chính bổ sung cho đội ngũ cán bộ Đoàn, Hội nhà trường.</p>
        <p>Từ khi thành lập đến nay, CLB đã tổ chức, tham gia tích cực các hoạt động thiết thực nhằm đáp ứng nhu cầu và nguyện vọng của Sinh viên, góp phần tạo điều kiện để Sinh viên học tập, rèn luyện kỹ năng, giao lưu học hỏi, đồng thời gắn bó kết bạn, trao đổi kinh nghiệm và các kỹ năng để giúp đỡ nhau cùng tiến bộ. Sinh viên tham gia CLB ngày càng chủ động hơn trong học tập, nghiên cứu, tiếp cận nhanh phương pháp tư duy tích cực.</p>
        <p><strong style="line-height: 1.5;">2. SỨ MỆNH, TẦM NHÌN:</strong></p>
        <p><strong style="line-height: 1.5;">2.1 Sứ mệnh:</strong></p>
        <p>Tập hợp đoàn kết sinh viên, trang bị kiến thức và kỹ năng phù hợp theo nhu cầu của doanh nghiệp và xã hội; là tổ chức tin cậy và hoàn thiện kỹ năng cho sinh viên.</p>
        <p><strong style="line-height: 1.5;">2.2 Tầm nhìn:</strong></p>
        <p>* Câu lạc bộ Kỹ năng sống là đơn vị đi đầu trong việc trang bị hành trang lập nghiệp cho sinh viên, học sinh tại Trường Đại học Trà Vinh.</p>
        <p>– Là một trong những Câu lạc bộ tiêu biểu trong Trường Đại học Trà Vinh phát triển kỹ năng mềm.</p>
        <p>– Là đơn vị cung cấp bổ sung có hiệu quả nguồn cán bộ giàu kiến thức kỹ năng sống tiêu biểu cho Phong trào Đoàn – Hội.</p>
        <p>– Phấn đấu trở thành một CLB vững mạnh, có uy tín trong giới trẻ.</p>
        <p><strong style="line-height: 1.5;">3. MỤC TIÊU – NGUYÊN TẮC HOẠT ĐỘNG</strong></p>
        <p><strong style="line-height: 1.5;">3.1. Mục tiêu hoạt động:</strong></p>
        <p>– Tổ chức sinh hoạt nhóm đội, đoàn kết tập hợp đoàn viên, thanh niên; sinh viên, học sinh vào tổ chức Đoàn – Hội.</p>
        <p>– Xây dựng sân chơi bổ ích, kết nối các thành viên có cùng sở thích và mục tiêu rèn luyện kỹ năng sống.</p>
        <p>– Xây dựng nền tảng kiến thức và các kỹ năng sống, vận dụng vào thực tế một cách linh hoạt thông qua các hoạt động ngoại khóa.</p>
        <p>– Đáp ứng các nhu cầu vừa học vừa tham gia các hoạt động kỹ năng của các bạn sinh viên.</p>
        <p><strong>&nbsp;&nbsp;&nbsp; </strong>– Cung cấp kiến thức, kỹ năng cần thiết theo nhu cầu của nhà sử dụng lao động để sinh viên thành công trong tuyển dụng và giúp sinh viên hòa nhập, thích nghi tốt với môi trường làm việc ngày một năng động hơn.</p>
        <p>– Tạo môi trường năng động với nhiều cơ hội để SV tự rèn luyện bản thân, thực hành các kỹ năng mềm thông qua hình thức sinh hoạt và thảo luận nhóm, ứng dụng kiến thức kỹ năng vào giải quyết các đề tài, bài tập tình huống thực tế của lớp học.</p>
        <p>– CLB sẽ làm nòng cốt trong việc phối hợp với các Trung tâm tổ chức các hoạt động đoàn thể trong và ngoài Trường.</p>
        <p>– Tổ chức cho sinh viên thực tập thực tế tại các cơ quan, doanh nghiệp, công ty trong và ngoài Trường nhằm nâng cao kỹ năng và đúc kết kinh nghiệm thực tế. (Có kế hoạch phối hợp với Khoa, Bộ môn trong việc tạo cơ hội cho sinh viên thực tập thực tế).</p>
        <p><strong style="line-height: 1.5;">3.2 Nguyên tắc hoạt động:</strong></p>
        <p>CLB Kỹ năng sống hoạt động theo nguyên tắc tự nguyện, hiệp thương, dân chủ, bình đẳng, tập thể lãnh đạo, cá nhân phụ trách. Đồng thời chịu sự quản lí về chuyên môn, nghiệp vụ của Ban Tư vấn, Các Bộ môn liên quan.</p>
        <p>Hoạt động của Câu lạc bộ Kỹ năng sống dựa theo phương hướng đã đề ra và theo đúng điều lệ quy chế, nội qui Câu lạc bộ. Quyền lợi cá nhân phải luôn đi liền với quyền lợi tập thể.</p>
        <p><strong style="line-height: 1.5;">4. CHỨC NĂNG, NHIỆM VỤ CỦA CLB</strong></p>
        <p><strong style="line-height: 1.5;">4.1 Chức năng: gồm 4 chức năng</strong></p>
        <p><em>&nbsp;Chức năng giáo dục và huấn luyện</em></p>
        <p>Thông qua các buổi sinh hoạt nhằm giáo dục sinh viên xây dựng phẩm chất đạo đức trong sáng, lành mạnh; xây dựng nhân cách, lối sống năng động, bản lĩnh trong hội nhập.</p>
        <p><em>&nbsp;Chức năng thông tin và tư vấn</em></p>
        <p>Cung cấp, truyền tải tất cả các thông tin từ CLB tới thành viên, tới những đối tượng khác về rất nhiều lĩnh vực giúp sinh viên có thể tìm được những kỹ năng, thông tin, bài học … giúp ích cho mình.</p>
        <p>Là nơi trao đổi thông tin, ý kiến cho các thành viên, sinh viên thông qua diễn đàn trao đổi trực tiếp hoặc kênh thông tin điện tử của CLB.</p>
        <p><em>&nbsp;Chức năng liên kết phối hợp </em></p>
        <p>Để hoàn tất các mục tiêu của CLB cần có sự hợp tác, gắn kết thường xuyên với các Đơn vị, Phòng, Ban, Trung tâm trong và ngoài Trường. Đặc biệt là liên kết về xây dựng chương trình, nội dung đào tạo, tập huấn các kỹ năng; sự hợp tác của các cộng tác viên. Sự phối hợp liên kết đóng vai trò quan trọng để xúc tiến thực hiện công việc.</p>
        <p><em>Chức năng phát triển cộng đồng</em></p>
        <p>Họat động của CLB kỹ năng sống gắn kết với chương trình Chiến dịch mùa hè xanh hàng năm nhằm phối hợp tổ chức tập huấn, chia sẻ cho học sinh, giáo viên các Trường THPT, cán bộ Đoàn cấp xã, huyện trong Tỉnh về kỹ năng theo nhu cầu của địa phương.</p>
        <p>Phát triển mối quan hệ mật thiết với các doanh nghiệp trong việc gởi thành viên thực tập ngắn hạn.</p>
        <p><strong style="line-height: 1.5;">4.2 Nhiệm vụ của CLB</strong></p>
        <p>Xây dựng sân chơi bổ ích, kết nối các thành viên có cùng sở thích và mục tiêu rèn luyện, trang bị kiến thức và kỹ năng mềm cho sinh viên.</p>
        <p><strong>5. NỘI DUNG, BỘ MÁY TỔ CHỨC:</strong></p>
        <p><strong style="line-height: 1.5;">5.1 Nội dung hoạt động</strong></p>
        <p><strong>– &nbsp;</strong>Tham gia các chương trình của trường, của Đoàn – Hội đề ra.</p>
        <ul>
            <li>Tổ chức các buổi sinh hoạt, tập huấn kỹ năng; tổ chức các cuộc thi, biểu diễn để các thành viên phát huy khả năng sáng tạo.</li>
            <li>Tổ chức các buổi huấn luyện, đối thoại, tọa đàm để nâng cao kỹ năng và nhận thức của các thành viên.</li>
            <li>Tổ chức các buổi giao lưu với các đơn vị trong và ngoài trường, tham gia các hoạt động do Trường tổ chức để các thành viên có điều kiện học hỏi trao đổi kinh nghiệm.</li>
        </ul>
        <p><strong>* Một số kỹ năng mang tính tập trung: </strong></p>
        <p>– Kỹ năng giao tiếp;</p>
        <p>– Kỹ năng thuyết trình;</p>
        <p>– Kỹ năng thiết lập mục tiêu;</p>
        <p>– Kỹ năng soạn thảo văn bản;</p>
        <p>– Kỹ năng tổ chức cuộc sống;</p>
        <p>– Kỹ năng quản lý thời gian;</p>
        <p>– Kỹ năng quản lý tài chính;</p>
        <p>– Kỹ năng quản trò;</p>
        <p>– Kỹ năng xây dựng và làm việc nhóm, đội;</p>
        <p>– Kỹ năng tình nguyện;</p>
        <p>Ngoài ra, tùy tình hình, điều kiện thực tế mà có nội dung sinh hoạt phù hợp.</p>
        <p><strong style="line-height: 1.5;">5.2 Bộ máy tổ chức: </strong><span style="line-height: 1.5;">Có xây dựng điều lệ hoạt động cụ thể.</span></p>
        <p><strong>– </strong>Ban Chủ nhiệm: Gồm 07 đồng chí trong đó có 01 Chủ nhiệm, 02 Phó chủ nhiệm, 01 thư ký và các ủy viên BCN.</p>
        <p>– Thời gian đại hội CLB thực hiện theo quy định của Hội Sinh viên Trường Đại học Trà Vinh.</p>
    </div>
</div>